$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #232526

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$buttonGreen : #1D976CCE
$buttonOrange : #FF732F

$iconGrey : #333333
$iconOrange : #FF732F
$iconWhiteHover : #ffffff91

$textOrange : #FF732F

$colorOrange : #FF732F

$navbar : #1c1c1c
$background : #222222

$backgroundForms : #1c1c1c

$cardsDark : #1c1c1c