$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0
$dark      : #232526
$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$darkColorPrimary : #31363F
$darkColorSecondary : #222831

$orangeColor : #FF732F
$whiteColorPrimary : #EEEEEE
$greyHover : #ffffff91